<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Resume Info</title>
    <link rel="stylesheet" href="static/bootstrap.css">
</head>
<body>

    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                Crucible Systems
            </h1>
        </div>
    </header>

    <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

    <h1 style="margin-top:96px;margin-left: 96px;margin-bottom: 0px;">Your Resume:</h1><br>

    <form style="margin: 0px 96px 96px;" action="{{ url_for("submit") }}" method="post" enctype = "multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}"><br><br>

        <label for="address">Address:</label>
        <input size="50" type="text" id="address" name="address" value="{{ address }}"><br><br>

        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ phone_number }}"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ email }}"><br><br>

        <label for="qualifications">Qualifications:</label><br>
        <textarea cols="100" rows="5" id="qualifications" name="qualifications">
            {{ qualifications }}
        </textarea><br><br>

        <label for="education">Education:</label><br>
        <textarea cols="100" rows="5" id="education" name="education">
            {{ education }}
        </textarea><br><br>

        <label for="accomplishments">Accomplishments:</label><br>
        <textarea cols="100" rows="10" id="accomplishments" name="accomplishments">
            {{ accomplishments }}
        </textarea><br><br>

        <label for="work_history">Work History:</label><br>
        <textarea cols="100" rows="10" id="work_history" name="work_history">
            {{ work_history }}
        </textarea><br><br>

        <label for="affiliations">Affiliations:</label><br>
        <textarea cols="100" rows="10" id="affiliations" name="affiliations">
            {{ professional_affiliation }}
        </textarea><br><br>

         <label for="computer_skills">Computer Skills:</label><br>
        <textarea cols="100" rows="10" id="computer_skills" name="computer_skills">
            {{ computer_skills }}
        </textarea><br><br>

        <input type="submit" value="Upload">
    </form>

    </div>
  </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022–20XX Crucible Systems</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    </footer>

</body>
</html>