<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks for submitting!</title>
    <link rel="stylesheet" href="static/bootstrap.css">

</head>
<body>

    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                Crucible Systems
            </h1>
        </div>
    </header>

    <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

    <p style="margin: 96px;">Thanks for submitting your resume.</p>

    </div>
  </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022–20XX Crucible Systems</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
   </footer>

</body>
</html>